/* -----work-sans font----- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans';
    background-color: #ffffff;
}

.container {
    background-color: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
}

.heading-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 228px;
    top: 50px;
}

.heading-g3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar {
    font-weight: 500px;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    margin-right: 240px;
    color: #424242;

}

.g3-title {
    text-align: center;
}

.g3-sub-title {
    margin-top: 10px;
}

.g3-brand {
    position: relative;
    bottom: 100px;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-top: 130px;
}

.g3-sub-brand {
    position: relative;
    bottom: 100px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-left: 526px;
    margin-right: 526px;
}

.btn-primary {
    position: relative;
    bottom: 100px;
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    margin-bottom: 50px;

}

.g3-title-img {
    position: relative;
    bottom: 100px;
    border-radius: 8px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    width: 342px;
    height: 342px;
    margin-top: 85px;
    margin-bottom: 450px;
}

/* .middle-title  */

.middle-sub-title {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.middle-side {
    width: 537px;
    height: 304px;
    margin-left: 470px;
}

.middle-side-item {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.of-our {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.features {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.middle-side-sub-item {
    position: relative;
    top: 6px;
    left: 200px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/*----- Lower middle section ----- */

.feature-box .box {
    position: relative;
    left: 8px;
    top: 160px;
    width: 3px;
    height: 115px;
    border: none;
    background: #FF900E;
}

.features-title {
    position: relative;
    left: 40px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 468px;
    height: 106px;
}

.features-sub-title {
    font-weight: 400;
    font-size: 16px;
    width: 586px;
    height: 78px;
    margin-top: 25px;
    color: #727272;

}

.loving-features {
    margin-left: 266px;

}

.lower-middle-info {
    margin-left: 240px;
    display: flex;
    gap: 145px;
}

.lower-info-content {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.lower-info-sub-content {
    font-weight: 400;
    font-size: 16px;
    width: 514px;
    left: 270px;
    top: 2585px;
}

.lower-middle {
    position: relative;
    right: 40px;

}

.desktop-info {
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.architect-img {
    position: relative;
    bottom: 240px;
    width: 708px;
    height: 982px;
}

.btn-secondary {
    position: relative;
    bottom: 360px;
    right: 70px;
    width: 342px;
    height: 200px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
}

.btn-year {
    font-weight: 700;
    font-size: 65px;
}

.btn-ex {
    font-weight: 500;
    font-size: 25px;
}

/* ----- Some fact section ----- */
.facts-sub-title,
.facts-sub-title-info {
    position: relative;
    left: 220px;
    bottom: 250px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts-sub-title-info {
    font-weight: 400;
    font-size: 16px;
}

.facts-box {}


.box-1 {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    width: 242px;
    height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.box-1:hover {
    border: 1px solid #0699fc;
}

.box-img {
    margin-top: 40px;
    align-items: center;
}

.box-num {
    font-weight: 600;
    font-size: 50px;
    color: #424242;
    text-align: center;
    margin-top: 20px;
}

.box-info {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    text-align: center;
    margin-top: 10px;
}

.facts-box {
    width: 1920px;
}

.fact {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 200px;
}

.sponsors {
    width: 1920px;
}

.sponsor {
    position: relative;
    bottom: 100px;
}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
}

.sponsor-info {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.sponsor-list {
    display: flex;
    justify-content: space-evenly;
}

.last-item {
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
    margin-left: 240px;
    margin-top: 130px;
    margin-bottom: 150px;
}

.footer {
    position: relative;
    top: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #424242;
}